p, h1, h2, h3, h4, h5, h6, li{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: rgba(239, 155, 0, 1);
    border-bottom: 2px solid rgba(239, 155, 0, 0.4);
}
h1{
    margin-bottom: 50px;
}

pre, code{
    font-family: 'Inconsolata', monospace;
}

a{
    color: rgb(166, 108, 0);
}

.promise-vocabulary code{
    color: rgb(224, 145, 0);
}

.promise-article{
    padding-left: 20px;
    margin-bottom: 50px;
}

.promise-article header{
    margin: 0;
}
.promise-article header h2{
    margin: 0;
}
.promise-article header p{
    margin: 0;
    padding-left: 20px;
    font-size: 0.9em;
    color: #7e5200;
}

.promise-article section{
    display: flex;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
}

.promise-article section pre,
.promise-article section ol{
    width: 50%;
    padding: 2em 0 0 0;
    position: relative;
    overflow-x: auto;
}
.promise-article section pre{
    border-right: 2px solid rgba(239, 155, 0, 0.4);
}
.promise-article section ol{
    padding-left: 20px;
    box-sizing: border-box;
}
.promise-article section ol li{
    font-family: 'Inconsolata', monospace;
    margin-left: 2em;
}
.promise-article section pre.code:before,
.promise-article section ol.results:before{
    top: 0;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(239, 155, 0, 1);
    border-bottom: 2px solid rgba(239, 155, 0, 0.4);
}

.promise-article section pre.code:before{
    content: "Code sample:";
}
.promise-article section ol.results:before {
    content: "Results:";
}